
/* ---------------------------------- Manage Courses styling ----------------------------------------- */

#manageCoursesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#manageCoursesButton {
  border-style: none;
  border-radius: 5px;
  width: 23rem;
  margin-top: 2%;
  padding: 0.1% 1.8rem;
  text-align: left;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.55);;
  background-color: rgba(236, 232, 221, 0.7);
}

#manageCoursesButton:hover {
  transition: 0.2s;
  color: white;
  background-color: #A0BCC2;
}


/* ---------------------------------- Form Styling ----------------------------------------- */

.container {
  border-radius: 5px;
  background-color: rgba(236, 232, 221, 0.7);
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.input-field {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
  resize: vertical;
}

.submitBtn {
  width: 9rem;
  height: 40px;
  background-color:rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  padding: 12px 20px;
  /*finger*/
  cursor: pointer;
  float: right;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.submitBtn:hover {
  background-color: #A0BCC2;
}

#submitDiv {
  margin-top: 0.7rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 
    Responsive layout - when the screen is less than 600px
    wide, make the two columns stack on top of each other
    instead of next to each other 
  */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 1rem;
  }

  label {
    padding: 0;
    display: inline-block;
  }

  .input-field {
    margin-bottom: 1.6rem;
  }

  .col-75 {
    float: left;
    margin-top: 0.3rem;
  }
}