
/* ---------------------------------- Manage Courses styling ----------------------------------------- */

#manageCoursesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#manageCoursesButton {
  border-style: none;
  border-radius: 5px;
  width: 23rem;
  margin-top: 2%;
  padding: 0.1% 1.8rem;
  text-align: left;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.55);;
  background-color: rgba(236, 232, 221, 0.7);
}

#manageCoursesButton:hover {
  transition: 0.2s;
  color: white;
  background-color: #A0BCC2;
}
